div#count.page(style="display:none")
    div.subLogo
    div#bubble
        div.countBox 
            div.countTxt 5
            div.countTxt 4
            div.countTxt 3
            div.countTxt 2
            div.countTxt 1

