#end.page(style="display:none")
    .row.chatBox
        .text 
            .text 好棒！
                br    
                | 再來一堂課吧        
    .row.fill.fadeIn.menu
        button.qBtn.backToMenu 是，我要繼續下一堂
        button.qBtn.reStart 我要重看一次
        button.qBtn.quit 回到FitBack
    footer.noBtn
