div#list.page.bg1.listBg(style="display:none")
    div.row
        div#characterChart
            span.q1.txt 透過認知運動來
                br
                | 提升專注力吧！
            span.q2.txt 透過認知運動來
                br
                | 提升知覺動作吧！
            span.q3.txt 透過認知運動來
                br
                | 提升記憶力吧！
            span.q4.txt 透過認知運動來
                br
                | 提升執行力吧！
            span.q5.txt 透過認知運動來
                br
                | 提升語言力吧！
        div#listBox
    div.subLogo

    button.fBtn.arrow.pageBtn(data-id="start") 回主選單