
mixin movType
    .movType.page(style="display:none")
        .row.chatBox
            .text 認知運動能夠幫活化大腦，今天我們就來一起邊運動邊訓練大腦吧！             
        .row.fadeIn.center.stand(style="display:none")
            p 找一個雙手可展開的空間
                br
                | 擺好手機並調整手機音量
                br
                | 放鬆心情準備開始
        .row.fadeIn.center.sit(style="display:none")
            P 找一張椅子
                br
                | 放置在可雙手可展開的空間
                br
                | 擺好手機並調整手機音量
                br
                | 放鬆心情準備開始
        .row.fill.fadeIn.center.stand.img(style="display:none")
            img(src="./img/stand.svg", alt="")
        .row.fill.fadeIn.center.sit.img(style="display:none")
            img(src="./img/sit.svg", alt="")
            
        footer
            button.readyToPlay 開始運動
