div#player.bg1.page(style="display:none")
    //-倒數
    //-
        div.row
            button#yPlay play 
            button#yStop stop
            button#yBack back
    div#clickToShowBtn.row.full
        div.playerBox
            div#youPlayer
        div.subLogo

    button#backList.fBtn.arrow 回主選單
