
mixin QPopupHint()
    .hintPanel.static(style="display:none")
        .panel
            .mesg              
                .text 大腦年齡推估是由高雄榮總高齡醫學中心和工研院共同執行的臨床驗證計畫(IRB xxxxxxx)確認各年齡層常模數據。本數據不代表大腦實際年齡，僅供使用者評估認知功能參考，如有疑慮請尋求專業醫療單位進行進一步評估。              
            .btns
                button.qBtn.close 我瞭解了