
mixin QResult
    #QResult.QResult.page
        .row.full
            #liffAppContent
                #main
                    .boxText 檢測結果
                    .resultLableBox
                        .lastResult 
                            p 上次測驗結果
                            p.date.lastDate ----.--.--
                        .currentResult 
                            p 本次測驗結果
                            p.date.currentDate ----.--.--
                    .box.charBox
                        canvas#chart
                    .sugAge 
                        .sugTxt
                            |您的大腦年齡約
                            span.high.currentAge 
                            |歲
                            div.openHint ?
                        .lastTxt(style="display:none")
                            | 和上次相比年輕/增長
                            span.high.lastAge
                            | 歲
    
                    p.playListTitle 大腦健康操 推薦影片
                    .playList

            +QPopupHint