div#start.page.bg1(style="display:none")
    div.row.center
        img.logo(src="./img/logo.svg")
    div.row.center.intro
        span 想訓練哪一種
            br
            | 認知功能呢？
    div#typeBtnBox.row

    footer.f1
